@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,300&display=swap');

body {
  font-family: 'Cormorant Garamond', serif;
  background: rgb(255, 243, 189);
}

/* top */

#topbar {
  position: fixed;
  top: 0;
  right: 0;
  height: 10vw;
  width: 100vw;
  max-height: 100px;
  background: rgb(255, 243, 189);
  border-bottom: 5px solid rgb(128, 121, 85);
}

.topname {
  padding-left: 10vw;
  font-size: 9vw;
  font-style: italic;
  color: rgb(128, 121, 85);
  white-space: nowrap;
}

#announce {
  position: absolute;
  background-color: beige;
  border-radius: 100%;
  width: 200px;
  height: 200px;
  z-index: 2;
}

/* general */

.para {
  text-align: justify;
  font-size: 24px;
}

.title {
  font-size: 50px;
}

.roundimg {
  border-radius: 50%;  
  height: 12vw;
  width: 12vw;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
}

.roundimg:hover {
  opacity: .7;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.squareimg {
  height: 35vw;
  width: 35vw;
  display: block;
  opacity: 1;
}

.squareimg:hover {
  opacity: .7;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/* flexbox1 */

.flexbox1 {
  justify-content: space-evenly;
  margin-top: 10vw;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-top: 12px;
  padding-left: 10vw;
  padding-right: 10vw;
}

.dev1 {
  flex: 100vw;
  padding: 10px 20px;
  margin: 10px;
  background-color: rgb(244, 151, 142);
}

.mu1 {
  flex: 80vw;
  padding: 10px 20px;
  margin: 10px;
}

.mu2 {
  font-size: 1.2vw;
  height: 12vw;
  width: 12vw;
  padding: 12px;
  margin: 10px 5vw;
  border-radius: 50%;
  background-color: rgb(255, 229, 122);
}

.mu3 {
  font-size: 1.2vw;
  height: 12vw;
  width: 12vw;
  padding: 12px;
  margin: 10px 5vw;
  border-radius: 50%;
  background-color: rgb(225, 89, 152);
}

.mu4 {
  font-size: 1.2vw;
  height: 12vw;
  width: 12vw;
  padding: 12px;
  margin: 10px 5vw;
  border-radius: 50%;
  background-color: rgb(255, 189, 122);
}

.mu5 {
  font-size: 1.2vw;
  height: 12vw;
  width: 12vw;
  padding: 12px;
  margin: 10px 5vw;
  border-radius: 50%;
  background-color: rgb(55, 189, 122);
}

.mu6 {
  font-size: 1.2vw;
  height: 12vw;
  width: 12vw;
  padding: 12px;
  margin: 10px 5vw;
  border-radius: 50%;
  background-color: rgb(255, 89, 122);
}

/* flexbox2 */

.flexbox2 {
  justify-content: space-evenly;
  margin-top: 3vw;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

.dev2 {
  flex: 100vw;
  padding: 10px 20px;
  margin: 10px;
  background-color: rgb(244, 151, 142);
}

.bo1 {
  flex: 5vw;
  margin: 10px;
  height: 35vw;
  width: 35vw;
  padding: 12px;
  background-color: rgb(255, 189, 122);
}

.bo2 {
  font-size: 24px;
  flex: 5vw;
  padding: 10px 20px;
  margin: 40px;
}

.bo3 {
  flex: 5vw;
  padding: 10px;
  margin: 10px 100px;
  background-color: rgb(255, 229, 122);
}

.bo4 {
  flex: 5vw;
  padding: 10px;
  margin: 10px 100px;
  background-color: rgb(225, 89, 152);
}

.bo5 {
  flex: 5vw;
  padding: 10px;
  margin: 10px 100px;
  background-color: rgb(255, 189, 122);
}

.bo6 {
  flex: 5vw;
  padding: 10px;
  margin: 10px 100px;
  background-color: rgb(55, 189, 122);
}

.bo7 {
  flex: 100vw;
  padding: 10px;
  margin: 10px 100px;
  background-color: rgb(255, 89, 122);
}

/* mobile */

@media only screen and (max-width: 800px) {
  .bo1, .bo2, .bo3, .bo4, .bo5, .bo6, .bo7{
    flex: 100vw;
  }
  .mu2, .mu3, .mu4, .mu5, .mu6{
    font-size: 2.5vw;
  }
  .flexbox1 {
    padding-left: 0vw;
    padding-right: 0vw;
  }
  .flexbox2 {
    padding-left: 0vw;
    padding-right: 0vw;
  }
  .para {
    font-size: 3vw;
  }
  .title {
  font-size: 34px;
  }
}

/* topbar size adjustment */

@media only screen and (min-width: 1000px) {
  .topname {
     font-size: 90px;
  }
  .flexbox1 {
    margin-top: 100px;
  }
}

/* OLD 

#sideleft {
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100%;
  background: rgb(210, 210, 210);
  background: linear-gradient(
    90deg,
    rgba(210, 210, 210, 1) 0%,
    rgba(185, 185, 185, 1) 90%,
    rgba(150, 150, 150, 1) 100%
  );
}

#sideright {
  position: absolute;
  top: 0;
  right: 0;
  width: 15vw;
  height: 100%;
  background: rgb(210, 210, 210);
  background: linear-gradient(
    270deg,
    rgba(210, 210, 210, 1) 0%,
    rgba(185, 185, 185, 1) 90%,
    rgba(150, 150, 150, 1) 100%
  );
}

#intro {
  padding-left: 15vw;
  padding-right: 15vw;
}

.intro-p {
  font-family: Georgia, serif;
  font-size: 16px;
  padding: 35px 6vw 0px;
  z-index: 1;
}

#titleclick {
  color: darkblue;
  text-align: right;
  margin-right: 15vw;
}

#titleclick:hover {
  color: darkblue;
  text-align: right;
  margin-right: 15vw;
  text-shadow: 0px 0px 40px #111111;
}

*/