@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,300&display=swap');

html {
  margin: 0;
  padding: 0;
  background-color: rgb(255, 217, 213);
}

body {
  font-family: 'Cormorant Garamond', serif;
  margin: 0;
  padding: 0;
}

canvas {
  position: fixed;
  overflow: hidden;
}

h2 {
  font-size: 1.5vw;
}

:root {
  --gray: #353535;
  --lilac: #f2e4ef;
  --red: #f66c51;
  --orangered: #f7864c;
  --orange: #f79f46;
  --yellow: #F8D23A;
  --green: #D0CC69;
  --teal: #A3C59D;
  --blue: #76BED0;

  --muSize: 12vw;
  --muMin: 100px;

  --hightlight: 2px solid rgba(255,255,255,.5);
  --shadow: 10px solid var(--gray);
}
/* top */

.topbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 10vw;
  width: 100vw;
  max-height: 100px;
  z-index: 2;
  margin-top: 5px;
}

.topflex {
  list-style-type: none;
  padding-left: 3vw;
  padding-right: 3vw;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: nowrap;
  text-align: center;
}

.topflexTitle {
  color: var(--gray);
  font-size: 4vw;
  font-style: italic;
  text-align: left;
  padding-top: 0.5vw;
  padding-left: 3vw;
  padding-right: 20vw;
  border-radius: 6em;
  background-color: var(--lilac);
  border-top: var(--hightlight);
  border-bottom: var(--shadow);
}

.topflexPage {
  color: var(--gray);
  font-size: 3vw;
  font-style: italic;
  text-align: center;
  padding: 1vw;
  padding-right: 5vw;
  border-radius: 6em;
  background-color: var(--lilac);
  border-top: var(--hightlight);
  border-bottom: var(--shadow);
}

.topflexMenu {
  color: var(--gray);
  font-size: 3vw;
  font-style: italic;
  text-align: center;
  padding: 1vw;
  padding-right: 5vw;
  border-radius: 3em;
  background-color: var(--lilac);
  border-top: var(--hightlight);
  border-bottom: var(--shadow);
}

/* general */

.wrapper {
  margin-top: 10vw;
  justify-content: center;
  position: relative;
  z-index: 1;
}

.para {
  text-align: left;
  font-size: 1.2vw;
  color: var(--gray);
}

.roundimg {
  border-radius: 50%;  
  height: var(--muSize);
  width: var(--muSize);
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 1;
  min-width: var(--muMin);
  min-height: var(--muMin);
}

.roundimg:hover {
  opacity: .7;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.squareimg {
  height: 30vw;
  display: block;
  opacity: 1;
  border-radius: 3em;
  min-width: 200px;
  min-height: 200px;
}

.squareimg:hover {
  opacity: .7;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.oldsquareimg {
  height: 30vw;
  display: block;
  opacity: 1;
  border-radius: 3em;
  min-width: 200px;
  min-height: 200px;
}

.oldsquareimg:hover {
  opacity: .7;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

/* grid */
.grid {
  display: grid;
  padding-left: 10vw;
  padding-right: 10vw;
  grid-template-columns: 5vw 43vw 32vw;
  grid-template-rows: 10vw auto 10vw auto;
/*  grid-template-columns: 100px 5fr 4fr;
    grid-template-rows: 200px auto 160px auto;*/
  gap: 10px 10px;
}

.card1 {
  grid-area: 1 / 1 / 3 / 2;
  padding: 1em;
  writing-mode: vertical-rl;
  font-size: 2.5vw;    
  background-color: var(--red);
  transform: rotate(182deg);
  color: var(--gray);
  border-radius: 2em;
  border-bottom: var(--hightlight);
  border-top: var(--shadow);
}

.card2 {
  grid-area: 3 / 1 / 5 / 2;
  padding: 1em;
  writing-mode: vertical-rl;
  font-size: 2.5vw;
  background-color: var(--red);
  transform: rotate(-6deg);
  color: var(--gray);
  border-radius: 2em;
  border-top: var(--hightlight);
  border-bottom: var(--shadow);
}

.newcover {
  grid-area: 1 / 2 / 3 / 3;
  padding: 1em;
  align-self: center;
  justify-self: center;
  background-color: var(--blue);
  border-radius: 4em;
  border-top: var(--hightlight);
  border-bottom: var(--shadow);
  transform: rotate(-5deg);
}
.oldcover {
  grid-area: 1 / 2 / 3 / 3;
  padding: 1em;
  align-self: center;
  justify-self: center;
  background-color: var(--blue);
  border-radius: 4em;
  border-top: var(--hightlight);
  border-bottom: var(--shadow);
  transform: rotate(-5deg);
}

.newtitle {
  grid-area: 1 / 3 / 2 / 4;
  padding-left: 2em;
  padding-right: 2em;
  align-self: end;
  justify-self: center;
  font-size: 2.5vw;
  color: var(--gray);
  background-color: var(--teal);
  border-radius: 4em;
  border-top: var(--hightlight);
  border-bottom: var(--shadow);
  transform: rotate(-2deg);
  margin-bottom: 1vw;
}
.oldtitle {
  grid-area: 1 / 3 / 2 / 4;
  padding-left: 2em;
  padding-right: 2em;
  align-self: end;
  justify-self: center;
  font-size: 2.5vw;
  color: var(--gray);
  background-color: var(--teal);
  border-radius: 4em;
  border-top: var(--hightlight);
  border-bottom: var(--shadow);
  transform: rotate(-2deg);
  margin-bottom: 1vw;
}

.newdesc {
  grid-area: 2 / 3 / 3 / 4;
  padding-left: 2em;
  padding-right: 2em;
  align-self: start;
  justify-self: center;
  color: var(--gray);
  background-color: var(--green);
  border-radius: 4em;
  border-top: var(--hightlight);
  border-bottom: var(--shadow);
  transform: rotate(2deg);
}
.olddesc {
  grid-area: 2 / 3 / 3 / 4;
  padding-left: 2em;
  padding-right: 2em;
  align-self: start;
  justify-self: center;
  color: var(--gray);
  background-color: var(--green);
  border-radius: 4em;
  border-top: var(--hightlight);
  border-bottom: var(--shadow);
  transform: rotate(2deg);
}

.otherdesc {
  grid-area: 3 / 2 / 4 / 4;
  padding-left: 2em;
  padding-right: 2em;
  margin: 2em;
  align-self: end;
  justify-self: center;
  color: var(--gray);
  background-color: var(--yellow);
  border-radius: 4em;
  border-top: var(--hightlight);
  border-bottom: var(--shadow);
  transform: rotate(4deg);
}

.otherflex {
  grid-area: 4 / 2 / 5 / 4;
}

/* flexbox */

.flexbox {
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.mu{
  margin: 1em;
  padding: 1em;
  font-size: 1.2vw;
  height: var(--muSize);
  width: var(--muSize);
  border-radius: 50%;
  min-width: var(--muMin);
  min-height: var(--muMin);
  color: var(--gray);
  border-top: var(--hightlight);
  border-bottom: var(--shadow);
}

.mutext {
  padding-top: 20px;
}


/*--------*/
/*--------*/
/* mobile */
/*--------*/
/*--------*/


@media screen and (orientation:portrait) {
  /* top */

.topbar {
  height: 10vh;
  width: 100vw;
  min-height: 150px;
  margin-top: 25px;
}

.topflex {
  flex-wrap: wrap;
}

.topflexTitle {
  font-size: 10vw;
  padding-top: 1vh;
  padding-left: 3vw;
  width: 100%;
}

.topflexPage{
  font-size: 5vw;
  margin-top: 1vh;
  width: 20%;
}

.topflexMenu {
}

/* general */

.wrapper {
  margin-top: 28vw;
}

.para {
  font-size: 4vw;
}

.roundimg {
}

.roundimg:hover {
}

.squareimg {
  height: 70vw;
  width: 70vw;
  border-radius: 2em;
}

.squareimg:hover {
}

/* grid */
.grid {
  padding-left: 5vw;
  padding-right: 5vw;
  grid-template-columns: 10vw 80vw;
  grid-template-rows: auto auto auto auto auto;
  gap: 10px 10px;
}

.card1 {
  grid-area: 1 / 1 / 3 / 2;
  padding: 1vw;
  writing-mode: vertical-rl;
  font-size: 8vw;    
  transform: rotate(181deg);
  border-radius: 4em;
}

.card2 {
  grid-area: 3 / 1 / 6 / 2;
  padding: 1vw;
  writing-mode: vertical-rl;
  font-size: 8vw;    
  border-radius: 4em;
  transform: rotate(-3deg);
}

.newcover {
  grid-area: 1 / 2 / 2 / 3;
  height: 70vw;
  width: 70vw;
  padding: 2vw;
  border-radius: 2.6em;
  margin-bottom: 12vw;
}

.newtitle {
  grid-area: 1 / 2 / 2 / 3;
  padding-left: 2em;
  padding-right: 2em;
  font-size: 6vw;

  border-radius: 4em;
  margin-bottom: 1vw;

}

.newdesc {
  grid-area: 2 / 2 / 3 / 3;
  margin-left: 2em;
  margin-right: 2em;
  border-radius: 4em;
}

h2 {
  font-size: 6vw;
}

.otherdesc {
  grid-area: 3 / 2 / 4 / 3;
  padding-left: 2em;
  padding-right: 2em;
  margin: 2em;
  align-self: end;
  justify-self: center;
  border-radius: 2em;
}

.otherflex {
  grid-area: 4 / 2 / 5 / 3;
}

/* flexbox */

.flexbox {
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
}

.mu{
  margin: 0.4em;
  margin-bottom: 3em;
  padding: 1em;
  font-size: 3vw;
  border-radius: 50%;
}


}
