/* divs */

body {
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#sideleft {
  position: absolute;
  top: 0;
  left: 0;
  width: 15vw;
  height: 100%;
  background: rgb(210, 210, 210);
  background: linear-gradient(
    90deg,
    rgba(210, 210, 210, 1) 0%,
    rgba(185, 185, 185, 1) 90%,
    rgba(150, 150, 150, 1) 100%
  );
}

#sideright {
  position: absolute;
  top: 0;
  right: 0;
  width: 15vw;
  height: 100%;
  background: rgb(210, 210, 210);
  background: linear-gradient(
    270deg,
    rgba(210, 210, 210, 1) 0%,
    rgba(185, 185, 185, 1) 90%,
    rgba(150, 150, 150, 1) 100%
  );
}

/* text */

#intro {
  padding-left: 15vw;
  padding-right: 15vw;
}

.intro-p {
  font-family: Georgia, serif;
  font-size: 16px;
  padding: 35px 6vw 0px;
  z-index: 1;
}

#titleclick {
  color: darkblue;
  text-align: right;
  margin-right: 15vw;
}

#titleclick:hover {
  color: darkblue;
  text-align: right;
  margin-right: 15vw;
  text-shadow: 0px 0px 40px #111111;
}

/* boxes */

#box1 {
  background-color: rgba(250, 132, 100, 0.5);
  height: 150px;
  width: 220px;
  position: absolute;
  z-index: -1;
}

#box2 {
  background-color: rgba(159, 229, 224, 0.6);
  height: 172px;
  width: 194px;
  position: absolute;
  z-index: -1;
  margin-left: 110px;
  margin-top: 73px;
}

#box3 {
  background-color: rgba(22, 183, 10, 0.3);
  height: 185px;
  width: 319px;
  position: absolute;
  z-index: -1;
  margin-left: 292px;
  margin-top: 33px;
}

img {
  height: 11vw;
  padding: 3vw;
}